<div class="fullsize" id="$(id)" style="height:$(height)px; width:$(width)px;">
  <svg class="fullsize" style="background:$(background);"></svg>
  <div class="legend" style="background:$(background)">
    <button>SVG</button>
    <button>PNG</button>
  </div>
</div>

<script>
(function() {
  var div = document.getElementById("$(id)");
  var svg = div.children[0];
  nv.addGraph(function() {
    var chart = nv.models.$(chart)();

    if ("$(chart)" === "scatterChart") {
      chart.showDistX(true).showDistY(true);
    }

    chart.color(d3.scale.category10().range());

    chart.xAxis.tickFormat(d3.format("$(xFormat)"));
    chart.yAxis.tickFormat(d3.format("$(yFormat)"));
    chart.xAxis.axisLabel("$(xLabel)");
    chart.yAxis.axisLabel("$(yLabel)");

    d3.select(svg)
      .datum($(data))
      .call(chart);

    console.log('installing resizepane handlers');
    div.parentNode.addEventListener('resizepane', function() {
      div.style.height = '';
      div.style.width = '';
      chart.update();
    });
    return chart;
  });

  var buttons = div.children[1].children;
  buttons[0].onclick = function() {
    saveSvg(svg, "chart.svg");
  };
  buttons[1].onclick = function() {
    saveSvgAsPng(svg, "chart.png", 4);
  };
})();
</script>
